{% extends "base.html" %}

{% block title %}
Echostream-Albums-The Slow Rush
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/The Slow Rush.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=bMLq3QQK6a8&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">One More Year</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=bMLq3QQK6a8&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:23</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=hWtY1t_8Y_M&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Instant Destiny</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=hWtY1t_8Y_M&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:14</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=2g5xkLqIElU&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Borderline </span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=2g5xkLqIElU&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:58</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=44lWO3qhQMk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Posthumous Forgiveness</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=44lWO3qhQMk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>6:07</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">5</span>
                    <a href="https://music.youtube.com/watch?v=gs-MtItyOFc&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Breathe Deeper</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=gs-MtItyOFc&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>6:13</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=NUdPieYQ6OA&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Tomorrow’s Dust</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NUdPieYQ6OA&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:27</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=Lm2F_fKdrIo&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">On Track</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=Lm2F_fKdrIo&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:02</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=utCjuKDXQsE&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Lost in Yesterday</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=utCjuKDXQsE&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:20</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=KN8nJFLu1Rk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Is It True</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=KN8nJFLu1Rk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:59</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=4hZ_wTx_kWg&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">It Might Be Time</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=4hZ_wTx_kWg&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:35</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=KsfxIgOtROk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Glimmer</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=KsfxIgOtROk&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:09</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">12</span>
                    <a href="https://music.youtube.com/watch?v=Y0U6u2D8cMU&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">One More Hour</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=Y0U6u2D8cMU&list=OLAK5uy_l2MbqDspwtlOxYb2XcgPmL7xWdUNZ-3eM">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>7:14</span>
                    </a>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys
                            </h3>
                            <a class="album-cover-art" href="/Album-The_Car.html">The_Car</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Rammstein
                                        </h3>
                                        <a class="album-cover-art" href="/Album-Rammstein.html">Rammstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
