{% extends "base.html" %}

{% block title %}
Echostream-Albums-Ok Computer
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/OK Computer.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=jNY_wLukVW0&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Airbag</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=jNY_wLukVW0&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:48</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=fHiGbolFFGw&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Paranoid Android</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=fHiGbolFFGw&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>6:33</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=_fTWmUlTEqE&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Subterranean Homesick Alien</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=_fTWmUlTEqE&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:28</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=Bf01riuiJWA&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Exit Music</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=Bf01riuiJWA&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:28</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">5</span>
                    <a href="https://music.youtube.com/watch?v=duBCwvC1kP4&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Let Down</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=duBCwvC1kP4&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:00</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=1uYWYWPc9HU&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Karma Police</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=1uYWYWPc9HU&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:23</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=O4SzvsMFaek&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Fitter Happier</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=O4SzvsMFaek&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>1:58</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=3DtgWrFTtQk&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Electioneering</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=3DtgWrFTtQk&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:51</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=XX4EpkR-Sp4&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Climbing Up the Walls</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=XX4EpkR-Sp4&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:46</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=u5CVsCnxyXg&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">No Surprises</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=u5CVsCnxyXg&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:48</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=yuZYQvvLXVY&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Lucky</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=yuZYQvvLXVY&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:19</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">12</span>
                    <a href="https://music.youtube.com/watch?v=HkgzObf8uVU&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Tourist</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=HkgzObf8uVU&list=OLAK5uy_nc6afxSnmK8OFML8dF9q_0D1MBMXsGnL4">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:27</span>
                    </a>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys
                            </h3>
                            <a class="album-cover-art" href="/Album-The_Car.html">The_Car</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Rammstein
                                    </h3>
                                    <a class="album-cover-art"
                                       href="/Album-Rammstein.html">Rammstein</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
