{% extends "base.html" %}

{% block title %}
Echostream-Albums-The Car
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/The Car.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">There’d Better Be A Mirrorball</span>
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:30</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=NYSE6yIceuQ&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">I Ain't Quite Where I Think I Am</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NYSE6yIceuQ&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:12</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=KQsrIxyoJdE&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Sculptures Of Anything Goes</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=KQsrIxyoJdE&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:58</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=NkpoC7WyoYQ&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Jet Skis on the Moat</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NkpoC7WyoYQ&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:18</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=6zgEObNc_-k&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Body Paint</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=6zgEObNc_-k&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:36</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=hWoG5XAOPvY&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Car</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=hWoG5XAOPvY&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:19</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=fhxn67cDDj4&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Big Ideas</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=fhxn67cDDj4&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:58</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=GO-nsnnmqHA&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Hello You</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=GO-nsnnmqHA&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:05</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=UL0OEb561W4&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Mr Schwartz</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=UL0OEb561W4&list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:30</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Perfect Sense</span>
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nwBlvy3cZo0pCj2CwSe7kLLlswQ8cSNrQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:48</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys
                            </h3>
                            <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Rammstein
                                        </h3>
                                        <a class="album-cover-art"
                                           href="/Album-Rammstein.html">Rammstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
