{% extends "base.html" %}

{% block title %}
Echostream-Albums-Rammstein
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/Rammstein.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=NeQM1c-XCDc&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Deutschland</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NeQM1c-XCDc&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>9:23</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=z0NfI2NeDHI&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Radio</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=z0NfI2NeDHI&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:51</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=Lfiwewpr8F8&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Zeig dich</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=Lfiwewpr8F8&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:18</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=pat2c33sbog&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Ausländer</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=pat2c33sbog&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:41</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=OBkG8KoL6xQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Hex</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=OBkG8KoL6xQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:57</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=f1y2Gb7Ori8&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Puppe</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=f1y2Gb7Ori8&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:34</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=CffwDZW3KEU&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Was ich liebe</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=CffwDZW3KEU&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:30</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=3s0w9d7oMwQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Diamant</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=3s0w9d7oMwQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:35</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=N9AalJuwLyQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Weit weg</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=N9AalJuwLyQ&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:21</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=rWQ8TjsuH9g&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Tattoo</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=rWQ8TjsuH9g&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:12</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=HYTXWZQVPyM&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Hallomann</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=HYTXWZQVPyM&list=OLAK5uy_l6ccqxiCiDmYyEat5qJygY3ShrGsYNEfQ">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:12</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys</h3>
                            <a class="album-cover-art" href="/Album-The_Car.html">The Car</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame Impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
