{% extends "base.html" %}

{% block title %}
Echostream-Albums-FWN
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/FWN.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=30w8DyEJ__0&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Brianstorm</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=30w8DyEJ__0&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:02</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=VredAgNScOw&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Teddy Picker</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=VredAgNScOw&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:46</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=0w6WlfdPSms&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">D is for Dangerous</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=0w6WlfdPSms&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:19</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=GeyA2L5LNBk&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Balaclava</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=GeyA2L5LNBk&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:52</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">5</span>
                    <a href="https://music.youtube.com/watch?v=ma9I9VBKPiw&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Fluorescent Adolescent</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=ma9I9VBKPiw&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:16</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=3htnUhv4lOM&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Only Ones Who Know</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=3htnUhv4lOM&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:03</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=MaFEHf34fCQ&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Do Me a Favour</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=MaFEHf34fCQ&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:30</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=anw6Gyh_ahU&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">This House is a Circus</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=anw6Gyh_ahU&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:12</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=wU0UbTDxABI&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">If You Were There, Beware</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=wU0UbTDxABI&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:37</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=hxiwUOsnVh0&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Bad Thing</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=hxiwUOsnVh0&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:26</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=NgLWF2XJyKA&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Old Yellow Bricks</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NgLWF2XJyKA&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:14</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">12</span>
                    <a href="https://music.youtube.com/watch?v=qU9mHegkTc4&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">505</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=qU9mHegkTc4&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:14</span>
                    </a>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys
                            </h3>
                            <a class="album-cover-art" href="/Album-The_Car.html">The_Car</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Rammstein
                                        </h3>
                                        <a class="album-cover-art"
                                           href="/Album-Rammstein.html">Rammstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
