{% extends "base.html" %}

{% block title %}
Echostream-Albums-TBHC
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/TBHC.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=f_2rM8A_1-w&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Star Treatment</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=f_2rM8A_1-w&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:55</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=qL4m04OyCkY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">One Point Perspective</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=qL4m04OyCkY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:29</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=xvOrayAVhBo&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">American Sports</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=xvOrayAVhBo&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:38</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=mXuUAtAtMtM&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Tranquility Base Hotel & Casino</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=mXuUAtAtMtM&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:51</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=31hMzRNeIq4&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Golden Trunks</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=31hMzRNeIq4&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:54</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=71Es-8FfATo&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Four Out of Five</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=71Es-8FfATo&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:29</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=kwQT4jnbAso&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The World's First Ever Monster Truck Front Flip</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=kwQT4jnbAso&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:00</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=anw6Gyh_ahU&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Science Fiction</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=anw6Gyh_ahU&list=OLAK5uy_nA-26T5qczv0yg9mBER9O-0hr5jMgwA6U">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:06</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=eLYeiimWLoY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">She Looks Like Fun</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=eLYeiimWLoY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:03</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=zM1KK2xX4_w&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Batphone</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=zM1KK2xX4_w&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:32</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=Muil_PtJURY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Ultracheese</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=Muil_PtJURY&list=OLAK5uy_kEN7-JfdfM-5WKhy67kHqJGsjJ29-_HaA">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:38</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys</h3>
                            <a class="album-cover-art" href="/Album-The_Car.html">The Car</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Tame impala
                                </h3>
                                <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Rammstein
                                        </h3>
                                        <a class="album-cover-art"
                                           href="/Album-Rammstein.html">Rammstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
