{% extends "base.html" %}

{% block title %}
Echostream-Albums-Currents
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="album-cover-art">
            <img src="/static/images/Currents.jpg" alt="Album Cover Art" class="img-fluid">
        </div>
        <div class="player flex-grow-1 ml-4">
            <ul id="tracks" itemprop="tracks">
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">1</span>
                    <a href="https://music.youtube.com/watch?v=pFptt7Cargc&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Let It Happen</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=pFptt7Cargc&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:17</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">2</span>
                    <a href="https://music.youtube.com/watch?v=c3yEjD_oijw&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Nangs</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=c3yEjD_oijw&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>1:49</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=3Qpf9pAkUeI&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Moment</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=3Qpf9pAkUeI&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:17</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">4</span>
                    <a href="https://music.youtube.com/watch?v=D_cMCvudZBs&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Yes I'm Changing</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=D_cMCvudZBs&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:32</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">3</span>
                    <a href="https://music.youtube.com/watch?v=GHe8kKO8uds&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Eventually</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=GHe8kKO8uds&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:20</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">6</span>
                    <a href="https://music.youtube.com/watch?v=NF0_IUZIUxs&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Gossip</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NF0_IUZIUxs&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>0:59</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">7</span>
                    <a href="https://music.youtube.com/watch?v=sBzrzS1Ag_g&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">The Less I Know the Better</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=sBzrzS1Ag_g&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>5:43</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">8</span>
                    <a href="https://music.youtube.com/watch?v=4kZ2W5f-H3k&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Past Life</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=4kZ2W5f-H3k&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:50</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">9</span>
                    <a href="https://music.youtube.com/watch?v=NTfYYRGTB3g&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Disciples</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=NTfYYRGTB3g&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>1:49</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">10</span>
                    <a href="https://music.youtube.com/watch?v=hefh9dFnChY&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">'Cause I'm a Man</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=hefh9dFnChY&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:05</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">11</span>
                    <a href="https://music.youtube.com/watch?v=hQN3RH_xWJg&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Reality In Motion</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=hQN3RH_xWJg&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:14</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">12</span>
                    <a href="https://music.youtube.com/watch?v=eI2c-Nrgsko&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">Love/Paranoia</span>
                    </a>
                    <a href="https://music.youtube.com/watch?v=eI2c-Nrgsko&list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:07</span>
                    </a>
                </li>
                <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                    <span class="order">13</span>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY"
                       target="_blank" itemprop="url">
                        <span class="track" itemprop="name">New Person, Same Old Mistakes</span>
                    </a>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_lYdwxvfKoDIiUba2_Dh1Pc-zOLLANCwKY">
                        <span class="duration"><meta itemprop="duration" content="PT4M35S"/>6:05</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">Other albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys
                            </h3>
                            <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Arctic Monkeys
                                </h3>
                                <a class="album-cover-art" href="/Album-The_Car.html">The Car</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala</h3>
                                    <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                </div>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Radiohead
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Rammstein
                                        </h3>
                                        <a class="album-cover-art"
                                           href="/Album-Rammstein.html">Rammstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
