{% extends "base.html" %}

{% block title %}
Echostream-Albums-AM
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="player-header d-flex">
        <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
            <h4 class="related-content-header">All current albums:</h4>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/Album-AM.html">AM</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys</h3>
                        <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Arctic Monkeys</h3>
                            <a class="album-cover-art" href="/Album-TBHC.html">TBHC</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Arctic Monkeys
                                </h3>
                                <a class="album-cover-art" href="/Album-The_Car.html">The_Car</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Tame impala
                                    </h3>
                                    <a class="album-cover-art" href="/Album-Currents.html">Currents</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Tame Impala</h3>
                                        <a class="album-cover-art" href="/Album-The Slow Rush.html">The Slow Rush</a>
                                    </div>
                                    <div class="one-third column alpha center">
                                        <div class="related-left-column one">
                                            <h3 class="related-content-album">Radiohead
                                            </h3>
                                            <a class="album-cover-art" href="/Album-Ok_Computer.html">OK Computer</a>
                                        </div>
                                        <div class="one-third column alpha center">
                                            <div class="related-left-column one">
                                                <h3 class="related-content-album">Rammstein
                                                </h3>
                                                <a class="album-cover-art"
                                                   href="/Album-Rammstein.html">Rammstein</a>
                                            </div>
                                            <div class="col-md-12 mt-4" id="do-not-click">
                                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                                                   class="btn btn-primary do-not-click">DO NOT CLICK THIS!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<